.fancy-side-drawer {
    position: fixed;
    top: 0;
    left: -100%;
    width: 30rem;
    max-width: 80%;
    height: 100vh;
    background: #e9e9e9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: all 1s ease-out;
}

:host([open]) .fancy-side-drawer {
    left: 0;
}

.fancy-side-drawer__header {
    padding: 1rem;
    background: black;
}

.fancy-side-drawer__header-title {
    font-size: 1.5rem;
    color: white;
    margin: 0;
}
