.fancy-tooltip {
    position: relative;
}

.fancy-tooltip__btn {
    background: #ffffb0;
    color: #458900;
    padding: 1vw;
    border: 2px solid #ff9327;
    border-radius: 3.5vw;
    cursor: pointer;
    transition: all .5s ease-out;
    outline: none;
}

.fancy-tooltip__btn:hover,
.fancy-tooltip__btn:active,
.fancy-tooltip__btn:focus {
    border: 2px solid #9327ff;
    color: #9327ff;
}

.fancy-tooltip__text {
    position: absolute;
    background-color: black;
    color: white;
    z-index: 100;
    padding: 20px;
    border-radius: 15px;
}
