:host {
    display: block;
    padding: 1rem;
    width: 20rem;
    max-width: 100%;
    font-size: 1.6rem;
    --color-primary: #c700c7;
    --color-secondary: #ffffff;
    --color-disabled: #525252;
}

.stock-finder {
    display: flex;
}

.stock-finder__input {
    display: block;
    font: inherit;
    color: var(--color-primary, #c700c7);
    padding: 0.1rem 0.5rem;
    border: 3px solid var(--color-primary, #c700c7);
}

.stock-finder__input:focus {
    background: var(--color-primary, #c700c7);
    color: var(--color-secondary, #ffffff);
    outline: none;
}

.stock-finder__btn {
    font: inherit;
    padding: 0.25rem 0.75rem;
    border: 3px solid var(--color-primary, #c700c7);
    background: var(--color-primary, #c700c7);
    color: var(--color-secondary, #ffffff);
    cursor: pointer;
    margin-left: 1.2rem;
    transition: all .5s ease-out;
    outline: none;
}

.stock-finder__btn:hover:not(:disabled),
.stock-finder__btn:active:not(:disabled),
.stock-finder__btn:focus:not(:disabled) {
    background: var(--color-secondary, #ffffff);
    color: var(--color-primary, #c700c7);
    transform: scale(1.2);
}

.stock-finder__btn:disabled {
    background: var(--color-disabled, #525252);
    border-color: var(--color-disabled, #525252);
    cursor: not-allowed;
}

.stock-finder__results-list {
    margin-top: 1.6rem;
}

.stock-finder__result-btn {
    font: inherit;
    background: var(--color-secondary, #ffffff);
    border: none;
    margin: 0.4rem 0;
    text-align: initial;
    cursor: pointer;
    outline: none;
}

.stock-finder__result-btn:hover,
.stock-finder__result-btn:active,
.stock-finder__result-btn:focus {
    color: var(--color-primary, #c700c7);
}
